<!DOCTYPE html>
<html>
<head>
    <title>Django Login</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <a href="{% url 'password_reset_form' %}"> Forgot your password?</a>
    </form>
    <p>Don’t have an account? <a href="{% url 'register' %}">Register here</a></p>
</body>
</html>
