<!DOCTYPE html>
<html>
<head>
  <title>Set New Password</title>
  <style>
    a {
      color: black;
    }
  </style>
</head>
<body>
  <h2>Set a New Password</h2>

  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.new_password1.label_tag }}<br>
      {{ form.new_password1 }}<br><br>
      {{ form.new_password2.label_tag }}<br>
      {{ form.new_password2 }}<br><br>
      <button type="submit">Change Password</button>
    </form>
  {% else %}
    <p>The password reset link is invalid or has expired. Try resetting again.</p>
  {% endif %}

  <p><a href="{% url 'login' %}">Back to Login</a></p>
</body>
</html>
