<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
        
    <h2>Register (Django Auth)</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login (Django)</a></p>
    

    <!-- <h3>JWT Token Login</h3>
    <form method="POST" action="/api/token/">
        {% csrf_token %}
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br>
        <button type="submit">Login (JWT)</button>
    </form> -->
</body>
</html>
